.social-login
    button.social-Login--github
        span
            i.fab.fa-github
        | Continue with Github
    button.social-Login--facebook
        span
            i.fab.fa-facebook
        | Continue with Facebook